.display-section {
  margin: 1em 5rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__image-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin: 1rem 0;

    &__one {
      height: 550px;
      width: 450px;
      position: relative;

      &__image {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
      &__description {
        position: absolute;
        bottom: 6rem;
        color: rgb(255, 255, 255);
        padding: 1rem 3rem;
        &__button {
          background: transparent;
          padding: 1rem 2.5rem;
          color: rgb(255, 255, 255);
          border: 2px solid white;
          font-weight: bold;
        }
      }
    }
    &__two {
      height: 550px;
      width: 450px;
      position: relative;

      &__image {
        height: 100%;
        width: 100%;
        margin-top: 5rem;
        background-position: center;
        background-size: cover;
      }
      &__description {
        position: absolute;
        bottom: 1rem;
        color: rgb(255, 255, 255);
        padding: 1rem 3rem;
        &__button {
          background: transparent;
          padding: 1rem 2.5rem;
          color: rgb(255, 255, 255);
          border: 2px solid white;
          font-weight: bold;
        }
      }
    }
  }
}
